{% extends 'core/base.html' %}
{% load static %}
{% load custom_filters %}

{% block content %}
    <!-- Contenido principal -->
    <main role="main">
        <div class="container">
            <section class="text-center">
                <h1 class="cute-font-regular neon">CARRITO DE COMPRAS</h1>
                <br>
                <table class="table table-hover">
                    <thead>
                        <th scope="col">#</th>
                        <th scope="col" class="d-none d-lg-block d-lg-table-cell">Categoría</th>
                        <th scope="col">Producto</th>
                        <th scope="col" class="text-center">Precio</th>
                        <th scope="col" class="text-center d-none d-lg-block d-lg-table-cell">%Subscriptor</th>
                        <th scope="col" class="text-center d-none d-lg-block d-lg-table-cell">%Oferta</th>
                        <th scope="col" class="text-center d-none d-lg-block d-lg-table-cell">%Desc Total</th>
                        <th scope="col" class="text-center d-none d-lg-block d-lg-table-cell">Descuentos</th>
                        <th scope="col" class="text-center">Precio a pagar</th>
                        <th scope="col">Opciones</th>
                    </thead>
                    <tbody>
                        {% for item in detalle_carrito %}
                            <tr>
                                <td> {{ item.id }} </td>
                                <td> {{ item.producto.categoria.nombre }} </td>
                                <td> {{ item.producto.nombre }} </td>
                                <td> {{ item.precio|formatear_dinero }} </td>
                                <td> {{ item.descuento_subscriptor|formatear_porcentaje }} </td>
                                <td> {{ item.descuento_oferta|formatear_porcentaje }} </td>
                                <td> {{ item.descuento_total|formatear_porcentaje }} </td>
                                <td class="text-end"> {{ item.descuentos|formatear_dinero }} </td>
                                <td class="text-end"> {{ item.precio_a_pagar|formatear_dinero }} </td>
                                <td>
                                    <div class="btn-group">
                                        <a href="{% url 'ficha' item.producto.id %}" class="btn btn-sm btn-primary boton_celeste"> Detalle </a> 
                                        <a href="{% url 'eliminar_producto_en_carrito' item.id %}" class="btn btn-sm boton_rojo"> Eliminar </a> 
                                    </div>
                                </td>
                            </tr>
                        {% endfor %}
                    <tfoot>
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td class="fw-bold"> Precio sin IVA </td>
                            <td class="fw-bold text-end"> {{ monto_sin_iva|formatear_dinero }} </td>
                            <td></td>
                        </tr>
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td class="fw-bold"> Valor del IVA (19%) </td>
                            <td class="fw-bold text-end"> {{ iva|formatear_dinero }} </td>
                            <td></td>
                        </tr>
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td class="fw-bold"> Total a pagar </td>
                            <td class="fw-bold text-end"> {{ total_a_pagar|formatear_dinero }} </td>
                            <td></td>
                        </tr>
                    </tfoot>
                    </tbody>
                </table>
                <div class="row">
                    <div class="col text-center">
                        <a href="{% url 'vaciar_carrito' %}" class="btn btn-primary ancho-160px boton_registro"> Vaciar carrito </a>
                        <a href="{% url 'comprar_ahora' %}" class="btn btn-primary ancho-160px boton_registro"> Continuar al pago </a>
                    </div>
                </div>

            </section>
        </div>
    </main>
{% endblock content %}