{% extends 'core/base.html' %}
{% load static %}
{% load custom_filters %}

{% block content %}
    <h1 class="neon cute-font-regular">FICHA DE PRODUCTO</h1>
    <!--FICHA DISPONIBLE-->

    <form method="post" id="formulario-ficha" class=" cuadro_white">

        {% csrf_token %}
        <br>
        <div>
        {% comment %} {{ imagen }} <br> {% endcomment %}
        <div class="letra-titulo-producto2 text-center">
            {{ nombre }}
        </div> <br>

        <img
            class="card-img-top thumbnail-product2"
            src="/media/{{ imagen }}"
            alt="" /> <br>

        {{ html_estado|safe }}  <br>
        {{ html_precio|safe }}  <br>
        {{ descripcion }}  <br>
        {{ html_stock|safe }}  <br>
        </div>
        <br>
        <div>
            <input type="hidden" id="accion">
            <a href="{% url 'comprar_ahora' %}" class="btn btn-primary ancho-160px boton_registro"> 
                Comprar ahora 
            </a>
            <a href="{% url 'agregar_producto_al_carrito' id %}" class="btn btn-secondary ancho-160px boton_registro"> 
                Agregar al carrito 
            </a>
        </div>
    </form>

{% endblock content %}