{% extends 'core/base.html' %}
{% load static %}
{% load custom_filters %}

{% block content %}
    <!-- contenido principal -->
    <main role="main">
        <div class="container">
            <section class="text center">
                <h1 class="cute-font-regular neon">MANTENEDOR DE PRODUCTOS</h1>
                <br>

                <!-- Formulario de registro de producto -->
                <form method="POST" enctype="multipart/form-data" id="formulario_productos" action="" class="white-text">
                    {% csrf_token %}
                    <div class="container-fluid">
                        <div class="row">
                            <!-- campos del registro de producto -->
                            <div class="col-sm-12 col-md-6 col-lg-8">
                                {{ form|as_bootstrap_form }}
                            </div>
                            <!-- foto de perfil -->
                            <div class="col-sm-12 col-md-6 col-lg-4">
                                <br>
                                {% comment %} <div class="image-container">
                                    <img src="{% static 'core/img/perfil.webp'%}" alt="" class="user-image"/>
                                </div> {% endcomment %}

                                <div class="col-sm-12" style="height: 220px">
                                    {% if form.instance.imagen %}
                                        <img src="{{ form.instance.imagen.url }}" alt="" class="image-fluid" id="cuadro-imagen">
                                    {% else %}
                                        <img src="{% static 'core/img/sin_imagen.jpg' %}" alt="" class="image-fluid" id="cuadro-imagen">
                                    {% endif %}
                                    
                                    <button class="btn btn-primary boton_registro" onclick="event.preventDefault(); document.getElementById('id_imagen').click();">Seleccionar imagen</button>
                                </div>
                            </div>
                            <!-- fin foto perfil -->
                        </div>
                        <br>
                    </div>
                    <div class="row">
                        <div class="col text-center">
                            <button type="submit" class="btn btn-primary boton_registro">Guardar nuevo</button>
                            <button type="update" class="btn btn-primary boton_registro">Actualizar</button>
                            <button type="reset" class="btn btn-primary boton_registro">Eliminar</button>
                        </div>
                    </div>
                </form>
                        
                        <br><br>
                        <!-- tabla godines -->
                        <table id="tabla-principal" class="table table-hover">
                            <thead>
                                <th scope="col" class="text-center d-none d-lg-block d-lg-table-cell">ID</th>
                                <th scope="col" class="text-center">Categoría</th>
                                <th scope="col" class="text-center">Producto</th>
                                <th scope="col" class="text-center">Descripción</th>
                                <th scope="col" class="text-center">Precio</th>
                                <th scope="col" class="text-center">%Desc Subscriptor</th>
                                <th scope="col" class="text-center">%Desc Oferta</th>
                                <th scope="col" class="text-center">Imagen</th>
                                <th scope="col" class="text-center">Acciones</th>

                            </thead>
                            <tbody>
                                {% for producto in productos %}
                                <!-- Primera linea -->
                                    <tr>
                                        <td class="letra-titulo-producto3jajalol">{{ producto.id }}</td>
                                        <td >{{ producto.categoria }}</td>
                                        <td >{{ producto.nombre }}</td>
                                        <td >{{ producto.descripcion }}</td>
                                        <td >${{ producto.precio }}</td>
                                        <td >{{ producto.descuento_subscriptor }}%</td>
                                        <td >{{ producto.descuento_oferta }}%</td>
                                        <td><img height="100px" src="{{ producto.imagen.url }}"></td>
                                        <td>              <div class="btn-group">
                                            <a href="{% url 'productos' 'actualizar' producto.id %}" class="btn btn-primary btn-sm boton_celeste"> Editar </a>
                                            <a href="{% url 'productos' 'eliminar' producto.id %}" class="btn btn-danger btn-sm boton_rojo"> Eliminar </a>
                                        </div></td>
                                    </tr>
                                {% endfor %}
                                
                            </tbody>
                        </table>
            </section>
        </div>
    </main>
{% endblock content %}

{% block script %}
    <script src="{% static 'core/js/validacion_productos.js'%}"></script>
    <script src="{% static 'core/js/script.js'%}"></script>   
{% endblock script %}

