{% extends 'core/base.html' %}
{% load static %}
{% load custom_filters %}

{% block content %}
    <br>
    <h1 class="text-center cute-font-regular neon">¡CONCURSA POR UNA PRENDA DE VESTIR!</h1>
    <h2 class="text-center letra">Por compras sobre $20.000 ya estarás participando</h2>
    <br>
    <div class="container fluid">
        <div id="fila-ropa" class="row">
        </div>
    </div>
{% endblock content %}

{% block script %}
  <script src="{% static 'core/js/ropa.js' %}"></script>
{% endblock script %}