{% extends 'core/base.html' %}
{% load static %}
{% load custom_filters %}

{% block content %}
    
  <form id="form" method="POST" enctype="multipart/form-data">
  
    {% csrf_token %}

    <div class="instrucciones-para-el-alumno">
      INSTRUCCIONES PARA EL ALUMNO (ELIMINALO DESPUES DE LEERLO):<br>
      - Construye tu tabla de usuarios, pero puedes usar los campos sugeridos. <br>
    </div>

    form_usuario|as_bootstrap_form <br>
    form_perfil|as_bootstrap_form <br>

    <!-- AREA DE CUADRO DE IMAGEN: Imagen de perfil (VER COMENTARIO "CUADRO DE IMAGEN" en script.js) -->
    {% if form_perfil.imagen.value %}
      <img id="cuadro-imagen" src="/media/{{ form_perfil.imagen.value }}">
    {% else %}
      <img id="cuadro-imagen" src="{% static 'core/img/sin-imagen.png' %}">
    {% endif %}
        

    <!-- AREA DE BOTONES -->
    <div class="mt-2 text-center">
      
      <button type="submit" class="btn btn-primary"> Guardar </button>

      <a href="{% url 'usuarios' 'crear' '0' %}" class="btn btn-primary"> Nuevo </a>

      <!-- AREA DE BOTON DE SELECCIONAR IMAGEN: Reemplaza el botón "Seleccionar archivo" por otro con Bootstrap (VER COMENTARIO "BOTON IMAGEN" en script.js) -->
      <button onclick="event.preventDefault(); document.getElementById('id_imagen').click();" class="btn btn-primary"> Seleccionar imagen </button>  

      {% if form_usuario.instance.id %}
        <a class="btn btn-primary" href="{% url 'usuarios' 'eliminar' form_usuario.instance.id %}"> Eliminar </a>
      {% endif %}
    
    </div>
  
  </form>

  <!-- AREA DE TABLA DE USUARIOS -->

  {% comment %} 
  
  {% if usuarios %} 
  
  {% endcomment %}

    <table id="tabla-principal" class="table table-hover">
      <thead>
        <tr>
          <th> ID </th>
          <th> Cuenta </th>
          <th> Tipo usuario </th>
          <th> Nombre </th>
          <th> Apellidos </th>
          <th> Correo </th>
          <th> RUT </th>
          <th> Subscrito </th>
          <th> Imagen </th>
          <th> Acciones </th>
        </tr>
      </thead>
      <tbody>
        {% for usuario in usuarios %}
          

          usuario.id </br>
          usuario.username </br>
          usuario.perfil.tipo_usuario </br>
          usuario.first_name </br>
          usuario.last_name </br>
          usuario.email </br>
          usuario.perfil.rut </br>
          
            <td> {% if usuario.perfil.subscrito %} Sí {% else %} No {% endif %} </td>
            <td>
              <img src="/media/{{ usuario.perfil.imagen }}" class="usuario-sm" alt="">
            </td>
            <td>
              <div class="btn-group">
                <a href="{% url 'usuarios' 'actualizar' usuario.id %}" class="btn btn-primary btn-sm"> Editar </a>
                <a href="{% url 'usuarios' 'eliminar' usuario.id %}" class="btn btn-danger btn-sm"> Eliminar </a>
                <form action="{% url 'cambiar_password' %}" method="post" id="form_{{ usuario.username }}">
                  {% csrf_token %}
                  <input type="hidden" id="username" name="username" value="{{ usuario.username }}">
                  <button class="btn btn-info btn-sm" id="id_generar_password" onclick="document.getElementById('form_{{ usuario.username }}').submit();"> Contraseña </button>
                </form>
              </div>
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  
  {% comment %} 
  
  {% endif %} 
  
  {% endcomment %}
    
{% endblock content %}
    
{% block script %}
  <script src="{% static 'core/js/usuarios.js' %}"></script>
{% endblock script %}
    












{% comment %} {% extends 'core/base.html' %}
{% load static %}
{% load custom_filters %}

{% block content %}
    <!-- Contenido principal -->
    <main role="main">
        <div class="container">
            <section class="text center">
                <h1 class="cute-font-regular neon">MANTENEDOR DE USUARIOS</h1>
                <br>
                <form method="POST" id="formulario_usuarios" action="">
                    <div class="container-fluid">
                        <div class="row">
                            <!-- Campos del registro usuario -->
                            <div class="col-sm-12 col-md-10 col-lg-8">
                                <div class="form-group">
                                    <label for="id" class="letra">ID</label>
                                    <input type="number" class="form-control" id="id" name="id" placeholder="Ingrese el id" value="" />
                                </div>
                                <br>
                                <div class="md-3 fw-bold letra">Tipo de Usuario.</div>
                                <div class="opcion">
                                    <input type="radio" id="cliente" name="tipo_usuario" value="cliente" class="form-check-input" checked>
                                    <label for="cliente" class="letra">Cliente</label><br>
                                </div>
                                <div class="opcion">
                                    <input type="radio" id="admin" name="tipo_usuario" value="admin" class="form-check-input">
                                    <label for="admin" class="letra">Administrador</label><br>
                                </div>
                                <br><br>
                                <div class="form-group">
                                    <label for="rut" class="form-label letra">RUT</label>
                                    <input type="text" class="form-control" id="rut" placeholder="Ej 11111111-1" name="rut" value="" />

                                </div>

                                <div class="form-group">
                                    <label for="nombre" class="form-label letra">Nombre</label>
                                    <input type="text" class="form-control" id="nombre" placeholder="Ingrese Nombre." name="nombre" value="" />

                                </div>

                                <div class="form-group">
                                    <label for="apellido" class="form-label letra">Apellido</label>
                                    <input type="text" class="form-control" id="apellido" placeholder="Ingrese Apellido." name="apellido" value="" />

                                </div>

                                <div class="form-group">
                                    <label for="correo" class="form-label letra">Correo</label>
                                    <input type="email" class="form-control" id="correo" placeholder="Ingrese Correo." name="correo" value="" />

                                </div>

                                <div class="form-group">
                                    <label for="direc" class="form-label letra">Dirección</label>
                                    <textarea class="form-control" id="direc" rows="3" placeholder="Ingrese Dirección." name="direc"></textarea>

                                </div>

                                <div class="form-group">
                                    <label for="contraseña" class="form-label letra">Contraseña</label>
                                    <div class="input-group-append">
                                        <button class="btn boton_registro boton_registro:hover" type="button">Generar contraseña</button>
                                    </div>
                                </div>
                                <br>
                                <div class="mb-3 form-check" form check>
                                    <input class="form-check-input" type="checkbox" value="" id="subscripcion">
                                    <label class="form-check-label letra" for="subscripcion">
                          <strong>
                            Subscripción
                          </strong>
                        </label>
                                    <div id="subscripcionHelp" class="form-help letra">
                                        Deseo suscribirme a PenguinPixel con un pago de $3000 mensuales y obtener un descuento del 5% en mis compras
                                    </div>
                                    <div></div>
                                </div>
                                <div class="row mt-3">
                                    <div class="col-md-2">
                                        <button class="btn boton_registro boton_registro:hover" type="submit">Guardar</button>
                                    </div>
                                    <div class="col-md-2">
                                        <button class="btn boton_registro boton_registro:hover" type="reset">Nuevo</button>
                                    </div>
                                    <div class="col-md-2">
                                        <button class="btn boton_registro boton_registro:hover" type="submit">Eliminar</button>
                                    </div>
                                    <br><br><br>

                                </div>
                            </div>
                            <!-- foto de perfil -->
                            <div class="col-sm-12 col-md-8 col-lg-4">
                                <br>
                                <div class="image-container">
                                    <img src="{% static 'core/img/perfil.webp'%}" alt="" class="user-image">
                                    <input type="file" class="form-control file-input">
                                </div>
                            </div>
                            <!-- tabla godines -->
                            <table class="table table-hover">
                                <thead>
                                    <th scope="col" class="text-center"></th>
                                    <th scope="col" class="text-center d-none d-lg-block d-lg-table-cell">ID</th>
                                    <th scope="col" class="text-center">Tipo usuario</th>
                                    <th scope="col" class="text-center">RUT</th>
                                    <th scope="col" class="text-center">Nombres</th>
                                    <th scope="col" class="text-center">Apellidos</th>
                                    <th scope="col" class="text-center">Correo</th>
                                    <th scope="col" class="text-center">Dirección</th>
                                    <th scope="col" class="text-center">Con notificaciones</th>
                                    <th scope="col">imagen</th>
                                </thead>
                                <tbody>
                                    <!-- Primera linea -->
                                    <tr>
                                        <td scope="row" class="text-center"></td>
                                        <td scope="col" class="text-center d-none d-lg-block d-lg-table-cell">34</td>
                                        <td scope="col" class="text-center">Cliente</td>
                                        <td scope="col" class="text-center">21.037.761-1</td>
                                        <td scope="col" class="text-center">Diego</td>
                                        <td scope="col" class="text-center">Pool</td>
                                        <td scope="col" class="text-center">dpool@gmail.com</td>
                                        <td scope="col" class="text-center">Merced 186</td>
                                        <td scope="col" class="text-center">Sí</td>
                                        <td scope="col">
                                            <img src="{% static 'core/img/DiegoCristo.png'%}" alt="Dieweko" style="width: 30px; height: auto;">
                                        </td>
                                    </tr>
                                    <!-- Segunda linea -->
                                    <tr>
                                        <td scope="row" class="text-center"></td>
                                        <td scope="col" class="text-center d-none d-lg-block d-lg-table-cell">35</td>
                                        <td scope="col" class="text-center">Admin</td>
                                        <td scope="col" class="text-center">20.388.099-5</td>
                                        <td scope="col" class="text-center">Fabián</td>
                                        <td scope="col" class="text-center">Gonzalezz</td>
                                        <td scope="col" class="text-center">fzz@gmail.com</td>
                                        <td scope="col" class="text-center">Iquique 3333</td>
                                        <td scope="col" class="text-center">No</td>
                                        <td scope="col">
                                            <img src="{% static 'core/img/fabian.jpg'%}" alt="Fabiaan" style="width: 30px; height: auto;">
                                        </td>
                                    </tr>
                                    <!-- Tercera linea pa -->
                                    <tr>
                                        <td scope="row" class="text-center"></td>
                                        <td scope="col" class="text-center">36</td>
                                        <td scope="col" class="text-center">Cliente</td>
                                        <td scope="col" class="text-center">21.662.338-1</td>
                                        <td scope="col" class="text-center">Alfredo</td>
                                        <td scope="col" class="text-center">Elmo</td>
                                        <td scope="col" class="text-center">sdvives@gmail.com</td>
                                        <td scope="col" class="text-center">Iquique 3344</td>
                                        <td scope="col" class="text-center">Sí</td>
                                        <td scope="col">
                                            <img src="{% static 'core/img/elmo.jpg'%}" alt="Elmardo" style="width: 30px; height: auto;">
                                        </td>
                                    </tr>
                                </tbody>
                            </table>

                        </div>
                    </div>
                </form>

            </section>
        </div>
    </main>
{% endblock content %}

{% block script %}
    <script src="{% static 'core/js/validacion_usuarios.js'%}"></script>
{% endblock script %} {% endcomment %}
