{% extends 'core/base.html' %}
{% load static %}
{% load custom_filters %}

{% block content %}
    <!-- Contenido principal -->
    <main role="main">
        <div class="container">
            <section class="text center">
                <h1 class="cute-font-regular neon">MANTENEDOR DE USUARIOS</h1>
                <br>
                <form method="POST" id="formulario_usuarios" action="">
                    <div class="container-fluid">
                        <div class="row">
                            <!-- Campos del registro usuario -->
                            <div class="col-sm-12 col-md-10 col-lg-8">
                                <div class="form-group">
                                    <label for="id" class="letra">ID</label>
                                    <input type="number" class="form-control" id="id" name="id" placeholder="Ingrese el id" value="" />
                                </div>
                                <br>
                                <div class="md-3 fw-bold letra">Tipo de Usuario.</div>
                                <div class="opcion">
                                    <input type="radio" id="cliente" name="tipo_usuario" value="cliente" class="form-check-input" checked>
                                    <label for="cliente" class="letra">Cliente</label><br>
                                </div>
                                <div class="opcion">
                                    <input type="radio" id="admin" name="tipo_usuario" value="admin" class="form-check-input">
                                    <label for="admin" class="letra">Administrador</label><br>
                                </div>
                                <br><br>
                                <div class="form-group">
                                    <label for="rut" class="form-label letra">RUT</label>
                                    <input type="text" class="form-control" id="rut" placeholder="Ej 11111111-1" name="rut" value="" />

                                </div>

                                <div class="form-group">
                                    <label for="nombre" class="form-label letra">Nombre</label>
                                    <input type="text" class="form-control" id="nombre" placeholder="Ingrese Nombre." name="nombre" value="" />

                                </div>

                                <div class="form-group">
                                    <label for="apellido" class="form-label letra">Apellido</label>
                                    <input type="text" class="form-control" id="apellido" placeholder="Ingrese Apellido." name="apellido" value="" />

                                </div>

                                <div class="form-group">
                                    <label for="correo" class="form-label letra">Correo</label>
                                    <input type="email" class="form-control" id="correo" placeholder="Ingrese Correo." name="correo" value="" />

                                </div>

                                <div class="form-group">
                                    <label for="direc" class="form-label letra">Dirección</label>
                                    <textarea class="form-control" id="direc" rows="3" placeholder="Ingrese Dirección." name="direc"></textarea>

                                </div>

                                <div class="form-group">
                                    <label for="contraseña" class="form-label letra">Contraseña</label>
                                    <div class="input-group-append">
                                        <button class="btn boton_registro boton_registro:hover" type="button">Generar contraseña</button>
                                    </div>
                                </div>
                                <br>
                                <div class="mb-3 form-check" form check>
                                    <input class="form-check-input" type="checkbox" value="" id="subscripcion">
                                    <label class="form-check-label letra" for="subscripcion">
                          <strong>
                            Subscripción
                          </strong>
                        </label>
                                    <div id="subscripcionHelp" class="form-help letra">
                                        Deseo suscribirme a PenguinPixel con un pago de $3000 mensuales y obtener un descuento del 5% en mis compras
                                    </div>
                                    <div></div>
                                </div>
                                <div class="row mt-3">
                                    <!-- AREA DE BOTONES -->
                                    <div class="mt-2 text-center">
                                      
                                      <button type="submit" class="btn btn-primary"> Guardar </button>

                                      <a href="{% url 'usuarios' 'crear' '0' %}" class="btn btn-primary"> Nuevo </a>

                                      <!-- AREA DE BOTON DE SELECCIONAR IMAGEN: Reemplaza el botón "Seleccionar archivo" por otro con Bootstrap (VER COMENTARIO "BOTON IMAGEN" en script.js) -->
                                      <button onclick="event.preventDefault(); document.getElementById('id_imagen').click();" class="btn btn-primary"> Seleccionar imagen </button>  

                                      {% if form_usuario.instance.id %}
                                        <a class="btn btn-primary" href="{% url 'usuarios' 'eliminar' form_usuario.instance.id %}"> Eliminar </a>
                                      {% endif %}
                                    
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </form>
  <!-- AREA DE TABLA DE USUARIOS -->

  {% if usuarios %} 

    <table id="tabla-principal" class="table table-hover">
      <thead>
        <tr>
          <th> ID </th>
          <th> Cuenta </th>
          <th> Tipo usuario </th>
          <th> Nombre </th>
          <th> Apellidos </th>
          <th> Correo </th>
          <th> RUT </th>
          <th> Subscrito </th>
          <th> Imagen </th>
          <th> Acciones </th>
        </tr>
      </thead>
      <tbody>
        {% for usuario in usuarios %}
          

          <td>{{usuario.id}}</td>
          <td>{{usuario.username}}</td>
          <td>{{usuario.perfil.tipo_usuario}}</td>
          <td>{{usuario.first_name}}</td>
          <td>{{usuario.last_name}}</td>
          <td>{{usuario.email}}</td>
          <td>{{usuario.perfil.rut}}</td>
          
            <td> {% if usuario.perfil.subscrito %} Sí {% else %} No {% endif %} </td>
            <td>
              <img src="/media/{{ usuario.perfil.imagen }}" class="usuario-sm" alt="">
            </td>
            <td>
              <div class="btn-group">
                <a href="{% url 'usuarios' 'actualizar' usuario.id %}" class="btn btn-primary btn-sm"> Editar </a>
                <a href="{% url 'usuarios' 'eliminar' usuario.id %}" class="btn btn-danger btn-sm"> Eliminar </a>
                <form action="{% url 'cambiar_password' %}" method="post" id="form_{{ usuario.username }}">
                  {% csrf_token %}
                  <input type="hidden" id="username" name="username" value="{{ usuario.username }}">
                  <button class="btn btn-info btn-sm" id="id_generar_password" onclick="document.getElementById('form_{{ usuario.username }}').submit();"> Contraseña </button>
                </form>
              </div>
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  

  
  {% endif %} 
            </section>
        </div>
    </main>
{% endblock content %}

{% block script %}
    <script src="{% static 'core/js/validacion_usuarios.js'%}"></script>
    <script src="{% static 'core/js/script.js'%}"></script>
{% endblock script %}
